<div>
  <div>
    <h1>
      List of all posts
    </h1>
  </div>


<%if @current_user != nil %>

<div class="new-post">
  <div>
    <h2>
      Add a new post
    </h2>

    <form action="/insert_post" method="post">
      <div>
        <label for="title_box">
          Title
        </label>
<br>
        <textarea type="text" id="title_box" name="query_title" rows="2" cols="60"></textarea>
      </div>

      <div>
        <label for="body_box">
          Body
        </label>
<br>
        <textarea type="text" id="body_box" name="query_body" rows="10" cols="60"></textarea>
      </div>

      <button>
        Create post
      </button>
    </form>
  </div>
</div>

<% end %>

<div class="list-of-posts">
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          User
        </th>

        <th>
          Created
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_posts.each do |a_post| %>
      <tr>
        <td>
          <%= a_post.title %>
        </td>

        <td>
          <%= a_post.user.first_name %>
        </td>

        <td>
          <%= time_ago_in_words(a_post.created_at) %> ago
        </td>

        <td>
          <a href="/posts/<%= a_post.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

</div>
