<div class="list-of-posts">

<div>
<h2>Your posts</h2>

</div>


  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Created
        </th>

        <th>
        </th>
      </tr>

      <% @the_post.each do |a_post| %>
      <tr>
        <td>
          <%= a_post.title %>
        </td>

        <td>
          <%= time_ago_in_words(a_post.created_at) %> ago
        </td>

        <td>
          <a href="/posts/<%= a_post.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
